@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-sky: #00abff;
  --color-grayLight: #6a6a6a;
}

.font-sfPro {
  font-family: "SF Pro", sans-serif;
}
